.squares-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 7.5px;
  width: 127.5px;
  height: 127.5px;
  transform: rotate(14deg);
}

.square {
  width: 15px;
  height: 15px;
  clip-path: circle();
  background: var(--bg);
  opacity: 0.1;
  pointer-events: none;
}
