<div class="card">
  <div class="block first">
    <div class="name">{{ pokemon.name }}</div>
    <div class="cod">#{{ pokemon.id }}</div>
  </div>
  <div class="block second">
    <img *ngIf="pokemon.sprites.front_default" draggable="false" class="image" [src]="pokemon.sprites.front_default">
    <div *ngIf="!pokemon.sprites.front_default"class="no-image">SEM IMAGEM</div>
  </div>

  <div class="block third">
    <div class="height stat">
      <div class="stat__height name">Altura:</div>
      <div class="stat__height value">{{ pokemon.height / 10}}m</div>
    </div>
    <div class="weight stat">
      <div class="stat__weight name">Peso:</div>
      <div class="stat__weight value">{{ pokemon.weight / 10}}kg</div>
    </div>
  </div>
</div>
