@import '../../../../../styles/_utility';

.card {
  position: relative;
  overflow: hidden;

  will-change: transform;
  width: 284px;
  height: 320px;
  background: #fff;
  padding: 16px 18px;
  color: #233674;
  box-shadow: 0px 4px 15px rgba(47, 62, 119, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Nunito;

  &:hover {
    filter: brightness(0.975) contrast(1.01);
    transform: translate3d(0, -15px, 0);
    box-shadow: 0px 15px 15px rgba(47, 62, 119, 0.1);
    cursor: pointer;
  }

  transition: 150ms cubic-bezier(.6,.11,.65,1.2);

  &.is-loading {
    opacity: 0;
    animation: opacityDelay 0ms 80ms forwards;

    .name {
      @extend .loading-background;
      width: 110px;
      height: 25px;
      border-radius: 6px;
    }

    .cod, .value {
      @extend .loading-background;
      width: 50px;
      height: 25px;
      border-radius: 6px;
    }

    .stat__height.name {
      width: 90px;
    }

    .stat__weight.name {
      width: 60px;
    }

    .stat__height.value {
      width: 60px;
    }

    .stat__weight.value {
      width: 65px;
    }

    .block.third {
      gap: 8px;
    }

    .image {
      @extend .loading-background;
      border-radius: 50%;
    }
  }
}

@keyframes opacityDelay {
  0% { opacity: 0 }
  100% {opacity: 1 }
}

.name {
  text-transform: capitalize;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;

  &.first {
    justify-content: space-between;
  }

  &.third {
    flex-direction: column;
  }
}

.image {
  position: absolute;
  width: 150px;
  height: 150px;
}

.stat {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.name {
  font: 700 16px Nunito;
}
