<div class="card">
  <div class="block first">
    <div class="name">Pidgeotto</div>
    <div class="cod">#COD</div>
  </div>
  <div class="block second">
    <img draggable="false" class="image" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png">
  </div>

  <div class="block third">
    <div class="height stat">
      <div class="stat__height name">Altura:</div>
      <div class="stat__height value">1.10cm</div>
    </div>
    <div class="weight stat">
      <div class="stat__weight name">Peso:</div>
      <div class="stat__weight value">9.9kg</div>
    </div>
  </div>
</div>
