<div class="card" [class.is-loading]="!pokemon" (click)="choosePokemon()">
  <ng-container *ngIf="pokemon">
    <div class="block first">
      <div class="name">{{ pokemon.name }}</div>
      <div class="cod">#{{ pokemon.id }}</div>
    </div>
    <div class="block second">
      <img *ngIf="pokemonImage" draggable="false" class="image" [src]="pokemonImage">
      <div *ngIf="!pokemonImage" class="no-image">{{ translationService.translations.no_image }}</div>
    </div>
    <div class="block third">
      <div class="height stat">
        <div class="stat__height name">{{ translationService.translations.height }}:</div>
        <div class="stat__height value">{{ height }}</div>
      </div>
      <div class="weight stat">
        <div class="stat__weight name">{{ translationService.translations.weight }}:</div>
        <div class="stat__weight value">{{ weight }}</div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!pokemon">
    <div class="block first">
      <div class="name"></div>
      <div class="cod"></div>
    </div>
    <div class="block second">
      <div class="image"></div>
    </div>
    <div class="block third">
      <div class="height stat">
        <div class="stat__height name"></div>
        <div class="stat__height value"></div>
      </div>
      <div class="weight stat">
        <div class="stat__weight name"></div>
        <div class="stat__weight value"></div>
      </div>
    </div>
  </ng-container>
</div>
