<div class="welcome-wrapper">
  <div class="title">{{ translationService.translations.title }} <span>{{ translationService.translations.pokemon }}</span></div>

  <poke-banners class="mobile"></poke-banners>

  <div class="description">{{ translationService.translations.subtitle }} <span class="lowercase">{{ translationService.translations.pokemon }}</span></div>

  <div class="search-bar">
    <input #input type="text" class="search-bar__input" [attr.placeholder]="randomPokemon" [(ngModel)]="searchInput" (input)="generateSugestions()" spellcheck="false">
    <div #submitButton class="search-bar__button" (click)="submitSearch(); chooseSugestion(searchInput)">{{ translationService.translations.search }}</div>

    <div class="search-sugestions" [class.empty]="!sugestions || (sugestions && !sugestions.length)">
      <div class="sugestions" *ngFor="let sugestion of sugestions">
        <div class="sugestion" (click)="chooseSugestion(sugestion)" tabindex="0">
          <span *ngIf="!isType(sugestion)">{{ sugestion }}</span>
          <span class="is-type" *ngIf="isType(sugestion)">{{ translationService.translations.type }}: <span>{{ sugestion.name }}</span></span>
        </div>
      </div>
    </div>
  </div>

  <div class="pokemon-not-exists" *ngIf="!pokemonExists">
    *{{ translationService.translations.no_results }}
  </div>
</div>
