<div class="welcome-wrapper">
  <div class="title">Explore o mundo dos <span>Pokémons</span></div>

  <div class="description">Descubra todas as espécies de Pokémons</div>

  <div class="search-bar">
    <input #input type="text" class="search-bar__input" [attr.placeholder]="randomPokemon" [(ngModel)]="searchInput" (input)="generateSugestions()" spellcheck="false">
    <div #submitButton class="search-bar__button" (click)="submitSearch(); chooseSugestion(searchInput)">Buscar</div>

    <div class="search-sugestions">
      <div class="sugestions" *ngFor="let sugestion of sugestions">
        <div class="sugestion" (click)="chooseSugestion(sugestion)">
          <span *ngIf="!isType(sugestion)">{{ sugestion }}</span>
          <span class="is-type" *ngIf="isType(sugestion)">Type: <span>{{ sugestion.name }}</span></span>
        </div>
      </div>
    </div>
  </div>

  <div class="pokemon-not-exists" *ngIf="!pokemonExists">
    *Não encontramos nenhum pokémon com esse nome
  </div>

  <div class="type-results" *ngIf="typeResultsActive">
    *Não encontramos nenhum pokémon com esse nome
  </div>
</div>
