.welcome-wrapper {
  font-family: Nunito;
  max-width: 470px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  font: 600 55px Nunito;
  color: var(--text-color);
  line-height: 60px;

  & > span {
    color: var(--highlight);
    font-weight: 700;
    text-shadow: 1px 1px 14px var(--highlight-shadow);
  }
}

.description {
  font: 400 25px Nunito;
  color: var(--text-color);
}

.search-bar {
  position: relative;
  height: 45px;
  display: flex;
}

.search-bar__button, .search-bar__input {
  min-height: 45px;
}

.search-bar__input {
  outline: none;
  border: none;
  width: 100%;

  background: var(--input-bg);
  border: 1px solid var(--main-search-input-border);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px 0px 0px 5px;

  padding: 0 16px;
  color: var(--input-color);
  font-size: 25px;
  z-index: 2;
  text-transform: capitalize;

  &::placeholder {
    color: var(--placeholder);
    text-transform: capitalize;
    user-select: none;
  }
}

.search-bar__button {
  cursor: pointer;
  user-select: none;

  background: var(--title);
  font: 700 22px Nunito;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 106px;

  box-shadow: 0px 4px 15px -3px var(--highlight-shadow);
  border-radius: 0px 5px 5px 0px;

  z-index: 1;
  transition: 100ms ease;

  &:hover {
    filter: brightness(0.975);
  }

  &:active {
    transition: 0ms;
    filter: brightness(0.94);
  }
}

.search-sugestions {
  position: absolute;

  top: calc(100% - 4px);
  left: 0;
  width: calc(100% - 106px);
  background: var(--input-bg);
  z-index: 3;

  box-shadow: 0px 9px 16px -10px rgb(0 0 0 / 15%), 6px 0px 10px -10px rgb(0 0 0 / 15%), -6px 0px 10px -10px rgb(0 0 0 / 15%);
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;

  &.empty {
    border: none;
  }
}

.sugestion {
  color: var(--input-color);
  font-size: 25px;
  padding: 0 16px;
  background: var(--input-bg);

  cursor: pointer;
  transition: 100ms ease;

  &:hover {
    filter: var(--highlight-filter);
  }

  text-transform: capitalize;

  &:last-child {
    padding: 0 16px 3px 16px;
  }
}

.pokemon-not-exists {
  font: 500 16px Nunito;
  color: #EA686D;

  transform: translateY(-12px);
}

.is-type {
  font-weight: 600;
  color: var(--title);

  & > * {
    color: var(--input-color);
  }
}

/* RESPONSIVE */
.mobile {
  display: none;
}

@media (max-width: 1182px) {
  .welcome-wrapper {
    justify-content: center;
    gap: 40px;
  }

  .mobile {
    display: inherit;
  }
}

/* RESPONSIVE */
@media (max-width: 623px) {
  .search-bar__input,
  .search-bar__input::placeholder,
  .search-bar__button,
  .sugestion {
    text-align: center;
    font-size: 20px;
  }

  .title {
    font-size: 40px;
    line-height: 50px;
  }

  .description {
    font-size: 23px;
  }

  .search-bar {
    flex-direction: column-reverse;
    margin-top: 40px;

    &__button {
      border-radius: 5px 5px 0px 0px;
    }

    &__input {
      border-radius: 0px 0px 5px 5px;
    }
  }

  .search-sugestions {
    width: 100%;
  }
}
