.pagination-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.pagination {
  display: flex;
  gap: 8px;

  user-select: none;
}

.pagination__button {
  @extend .pagination__arrow;
  font: 700 15px Nunito;

  color: #fff;

  &.is-active {
    color: #EA686D;
    background: #fff;

    box-shadow: inset 0px 0px 0px 2px #EA686D;
  }
}

.pagination__arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #EA686D;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;

  box-shadow: inset 0px 0px 5px 1px rgba($color: #000000, $alpha: 0.1);

  &:hover {
    filter: contrast(1.15);
  }

  transition: 150ms cubic-bezier(.6,.11,.65,1.2);
}

.pagination__icon  {
  width: 18px;
  height: 18px;

  &.left {
    transform: translateX(-2px) rotate(0deg);
  }

  &.right {
    transform: translateX(2px) rotate(180deg);
  }
}

.go-to-page {
  position: relative;
  height: 32px;
  display: flex;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: inset 0px 0px 5px 1px rgba($color: #000000, $alpha: 0.1);
    border-radius: 5px;

    z-index: 3;
    pointer-events: none;
  }
}

.input {
  outline: none;
  height: 100%;
  width: 45px;

  background: #FFFFFF;
  border: 1px solid #EA686D;
  border-radius: 5px 0px 0px 5px;

  padding: 0 8px;
  color: rgba($color: #434961, $alpha: 0.7);
  font-size: 16px;
  z-index: 2;
}

.go-button {
  cursor: pointer;
  user-select: none;

  background: #EA686D;
  font: 700 16px Nunito;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 0 14px;

  border-radius: 0px 5px 5px 0px;

  z-index: 1;
  transition: 100ms ease;

  &:hover {
    filter: brightness(0.975);
  }

  &:active {
    transition: 0ms;
    filter: brightness(0.94);
  }
}
