<div class="pagination-wrapper">
  <div class="go-to-page">
    <input #pageInput [(ngModel)]="input" type="text" class="input" placeholder="n°" (input)="formatInput($event)">
    <div class="go-button" (click)="setActivePage(input)">Ir</div>
  </div>

  <div class="pagination">
    <div class="arrows mobile">
      <div class="pagination__arrow left" (click)="backward()">
        <i class="fallen-v-arrow-icon pagination__icon left white-filter"></i>
      </div>

      <div class="pagination__arrow right" (click)="forward()">
        <i class="fallen-v-arrow-icon pagination__icon right white-filter"></i>
      </div>
    </div>

    <div class="pagination__buttons mobile">
      <div class="pagination__button z-index" *ngFor="let button of buttons" [class.is-active]="button.active" (click)="setActivePage(button.number)" [style]="buttonsFontSize">
        {{ button.number }}
      </div>
    </div>

    <div class="pagination__arrow left desktop" (click)="backward()">
      <i class="fallen-v-arrow-icon pagination__icon left white-filter"></i>
    </div>

    <div class="pagination__buttons desktop">
      <div class="pagination__button z-index" *ngFor="let button of buttons" [class.is-active]="button.active" (click)="setActivePage(button.number)" [style]="buttonsFontSize">
        {{ button.number }}
      </div>
    </div>

    <div class="pagination__arrow right desktop" (click)="forward()">
      <i class="fallen-v-arrow-icon pagination__icon right white-filter"></i>
    </div>
  </div>
</div>
