<div class="themes-wrapper wrapper">
  <div class="themes dropdown" [class.is-expanded]="themeDropdownExpanded">
    <div class="theme item" *ngFor="let theme of themes; let i = index" (click)="chooseTheme(theme); toggleDropdown('theme')">
      <div [ngClass]="{ 'margin-left-auto margin-right-auto': i === 0 }">{{ translationService.translations[theme] }}</div>

      <i *ngIf="i === 0" class="triangle-rounded-icon dropdown__icon white-filter"></i>

      <i *ngIf="i === 0" class="spacer-block"></i>
    </div>
  </div>
</div>

<div class="languages-wrapper wrapper">
  <div class="languages dropdown" [class.is-expanded]="languageDropdownExpanded">
    <div class="language item" *ngFor="let language of languages; let i = index" (click)="chooseLanguage(language); toggleDropdown('language')">
      <div [ngClass]="{ 'margin-left-auto margin-right-auto': i === 0 }">{{ translationService.translations[language] }}</div>

      <i *ngIf="i === 0" class="triangle-rounded-icon dropdown__icon white-filter"></i>

      <i *ngIf="i === 0" class="spacer-block"></i>
    </div>
  </div>
</div>
