:host {
  padding-bottom: 5px;
}

.themes-wrapper {
  position: relative;
  width: 115px;
  height: 32px;
}

.themes {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;

  border-radius: 20px;
  flex-direction: column;
  overflow: hidden;

  width: 100%;
  height: 32px;
  cursor: pointer;
  z-index: 5;
  background: #fff;
  transition: all 300ms ease;

  &.is-expanded {
    height: 68px;

    & .theme__icon {
      transform: translateY(-50%) rotate(0deg);
    }
  }

  &::after {
    content: "";
    position: absolute;
    box-shadow: inset 0px 0px 0px 2px var(--title);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: 20px;
  }
}

.theme {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px 0px;
  font: 700 16px Nunito;
  color: var(--title);
  user-select: none;
  transition: all 300ms cubic-bezier(.6,.11,.65,1.2);
  background: #fff;


  &:first-child {
    background: var(--title);
    color: #fff;

    &:hover {
      filter: contrast(1.15);
    }
  }

  &:hover {
    filter:brightness(0.975);
  }
}

.theme__icon {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  right: 12px;
  transform: translateY(-50%) rotate(180deg);
  transition: all 300ms ease;
}

.theme__name:first-child {
  margin-left: auto;
  margin-right: auto;
}

.spacer-block {
  width: 24px;
  height: 24px;
  margin-left: auto;
}
