.close-icon {
  background: url('../assets/svg/close.svg') no-repeat center;
  background-size: contain;
  display: block;
}

.fallen-v-arrow-icon {
  background: url('../assets/svg/fallen-v-arrow.svg') no-repeat center;
  background-size: contain;
  display: block;
}

.loop-arrow-icon {
  background: url('../assets/svg/loop-arrow.svg') no-repeat center;
  background-size: contain;
  display: block;
}

.triangle-rounded-icon {
  background: url('../assets/svg/triangle-rounded.svg') no-repeat center;
  background-size: contain;
  display: block;
}

.sun-fill-icon {
  background: url('../assets/svg/sun-fill.svg') no-repeat center;
  background-size: contain;
  display: block;
}

.globe-fill-icon {
  background: url('../assets/svg/globe-fill.svg') no-repeat center;
  background-size: contain;
  display: block;
}
