.charmander-icon {
  background: url('../assets/charmander.png') no-repeat center;
  background-size: contain;
  display: block;
}

.bulbasaur-icon {
  background: url('../assets/bulbasaur.jpeg') no-repeat center;
  background-size: contain;
  display: block;
}

.pikachu-icon {
  background: url('../assets/pikachu.jpeg') no-repeat center;
  background-size: contain;
  display: block;
}
