.close-icon {
  background: url('../assets/svg/close.svg') no-repeat center;
  background-size: contain;
  display: block;
}

.fallen-v-arrow-icon {
  background: url('../assets/svg/fallen-v-arrow.svg') no-repeat center;
  background-size: contain;
  display: block;
}
