.charmander-image {
  background: url('../assets/images/charmander.png') no-repeat center;
  background-size: contain;
  display: block;
}

.bulbasaur-image {
  background: url('../assets/images/bulbasaur.jpeg') no-repeat center;
  background-size: contain;
  display: block;
}

.pikachu-image {
  background: url('../assets/images/pikachu.jpeg') no-repeat center;
  background-size: contain;
  display: block;
}


