.z-index {
  z-index: 0;
}

.white-filter {
  filter: invert(100%) sepia(65%) saturate(572%) hue-rotate(196deg) brightness(104%) contrast(104%);//white
}

.margin-left-auto {
  margin-left: auto;
}

.margin-right-auto {
  margin-left: auto;
}

.invisible-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.loading-background {
  --gradient: linear-gradient(
    270deg,
    var(--linear-gradient-darker),
    var(--linear-gradient-lighter),
    var(--linear-gradient-darker),
    var(--linear-gradient-lighter),
    var(--linear-gradient-darker),
    var(--linear-gradient-lighter),
    var(--linear-gradient-darker)
  );

  background: var(--gradient);
  background-size: 300%;
  background-position: left;
  animation: animateBG 1.5s linear infinite reverse;
}

@keyframes animateBG {
  0% { background-position: left }
  100% { background-position: right }
}

.no-image {
  font: 700 25px Nunito;
  z-index: 1;
}

.uppercase {
  text-transform: uppercase !important;
}

.lowercase {
  text-transform: lowercase !important;
}

.nowrap {
  white-space: nowrap;
}
