.z-index {
  z-index: 0;
}

.white-filter {
  filter: invert(100%) sepia(65%) saturate(572%) hue-rotate(196deg) brightness(104%) contrast(104%);//white
}

.margin-left-auto {
  margin-left: auto;
}

.margin-right-auto {
  margin-left: auto;
}
