.app-wrapper {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  --bg-linear-gradient: linear-gradient(180deg, #EFF4FA 0%, rgba(239, 244, 250, 0) 102.84%) no-repeat;

  &.dark-theme {
    --bg-linear-gradient: linear-gradient(180deg, #1e3d63 0%, rgb(0 0 0) 102.84%) no-repeat;
  }

  background: var(--bg-linear-gradient);
}

.poke-wrapper {
  height: 100vh;
  max-width: 1360px;
  margin: auto;
  position: relative;
  padding: 30px 64px 50px 64px;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.shape {
  position: fixed;
  z-index: 0;

  &.left {
    top: 470px;
    left: -63.5px;
  }

  &.middle {
    top: 18px;
    left: 50%;
  }

  &.right {
    top: 317px;
    right: 154.5px;
  }
}

.upper-part {
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.spacer {
  content: "";
  min-height: 1px;
  width: 100%;
  margin-top: 37px
}
