<div class="app-wrapper">
  <div class="poke-wrapper">
    <!-- SQUARE ROUNDED SHAPES -->
    <poke-square-shape class="shape left"></poke-square-shape>
    <poke-square-shape class="shape middle"></poke-square-shape>
    <poke-square-shape class="shape right"></poke-square-shape>
    <!-- SQUARE ROUNDED SHAPES -->

    <poke-header></poke-header>

    <div class="upper-part">
      <poke-welcome class="z-index"></poke-welcome>
      <poke-banners class="mobile z-index"></poke-banners>
    </div>

    <poke-pokedex class="poke-pokedex"></poke-pokedex>

    <div class="spacer"></div>
  </div>
</div>

<poke-presentation></poke-presentation>
