.app-wrapper {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background: var(--bg-linear-gradient);

  /* SCROLLBAR */
  /* width */
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--title);
    opacity: 0.3;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.poke-wrapper {
  height: 100vh;
  max-width: 1360px;
  margin: auto;
  position: relative;
  padding: 25px 64px 50px 64px;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.shape {
  position: fixed;
  z-index: 0;

  &.left {
    top: 470px;
    left: -63.5px;
  }

  &.middle {
    top: 18px;
    left: 50%;
  }

  &.right {
    top: 317px;
    right: 154.5px;
  }
}

.upper-part {
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.spacer {
  content: "";
  min-height: 1px;
  width: 100%;
  margin-top: 37px
}
