<div #wrapper class="presentation-wrapper" [class.is-visible]="visible">
  <div class="presentation" *ngIf="pokemon">


    <div class="presentation__first">
      <div class="title section">
        {{ pokemon?.name }} <span class="nowrap">#{{ pokemon?.id }}</span>
      </div>

      <div class="types-wrapper section">
        <b>Tipo</b>
        <div class="type">
          <div class="type__badge" *ngFor="let type of pokemonTypes" [style]="type.style">
            {{ type.name }}
          </div>
        </div>
      </div>


      <div class="infos-wrapper section">
        <b>Informações</b>
        <div class="infos">
          <div class="info height">
            Altura: <span>{{ pokemon.height / 10}}m</span>
          </div>

          <div class="info weight">
            Peso: <span>{{ pokemon.weight / 10}}kg</span>
          </div>
        </div>
      </div>

      <div class="stats-wrapper section">
        <b>Atributos</b>

        <div class="stats">
          <div class="stat" *ngFor="let stat of pokemonStats; let i = index">
            <div class="stat__name" [class.uppercase]="i === 0">{{ stat.name }}</div>

            <div class="stat__bar">
              <div class="stat__color" [style]="stat.style"></div>
            </div>

            <div class="stat__tooltip">{{ stat.base }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="presentation__second">
      <div *ngIf="!pokemon.image" class="no-image">SEM IMAGEM</div>
      <img *ngIf="pokemon.image" class="image" draggable="false" [src]="pokemon.image">
      <div class="circle" [class.is-disabled]="!pokemon.image" [style]="circleStyle"></div>
    </div>

    <button class="close-button" (click)="closePresentation()" [style]="closeButtonColor">
      <div class="close-button__icon close-icon white-filter"></div>
    </button>

    <poke-square-shape class="shape right" [color]="mainTypeColor"></poke-square-shape>
    <poke-square-shape class="shape left" [color]="mainTypeColor"></poke-square-shape>
  </div>
</div>
