b {
  font-size: 22px;
}

.presentation-wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  left: 0;
  z-index: 5;
  backdrop-filter: blur(10px);

  opacity: 0;
  pointer-events: none;
  transition: 500ms ease 800ms;

  &.is-visible {
    pointer-events: auto;
    opacity: 1;
    transition: 1s ease;

    & .presentation {
      opacity: 1;
      transition: 1s ease 400ms;
    }

    & .close-button {
      box-shadow: 0px 6px 0px 0px #424242, inset 0px 0px 11px 0px rgb(0 0 0 / 60%);
      transform: translateY(-4px);
    }
  }
}

.presentation {
  background-color: rgba(255, 255, 255, 0.87);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 25px -6px rgb(8 7 16 / 65%);
  border-radius: 10px;

  height: fit-content;
  width: 800px;

  font-family: Nunito;
  color: #233674;

  padding: 18px 30px 24px 30px;
  overflow: hidden;
  position: relative;
  display: flex;
  opacity: 0;
  transition: 400ms ease 600ms;
}

.presentation__first {
  flex: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-shrink: 0;
}

.presentation__second {
  position: relative;
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  gap: 30px;

  user-select: none;
  margin-left: 50px;
}

.circle {
  content: "";
  width: 268px;
  height: 268px;
  border: 4px dashed var(--border);
  background: var(--bg);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  transition: 1500ms linear;
  backdrop-filter: blur(1px);

  &:hover  {
    animation: circle 4s linear infinite;
    background: var(--bg-active);
  }

  &.is-disabled {
    filter: grayscale(100%);
    pointer-events: none;
    border: 4px dotted var(--border-active);
  }
}

.no-image {
  filter: grayscale(100%);
}

@keyframes circle {
  0% { transform: translate3d(-50%, -50%, 0) rotate(0deg) }
  100% { transform: translate3d(-50%, -50%, 0) rotate(360deg) }
}

.image {
  z-index: 1;
  pointer-events: none;
  height: 189px;
  width: 189px;
}

.title {
  font: 700 35px Nunito;
  text-transform: capitalize;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.code-and-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: 400 16px Nunito;
}

.type {
  display: flex;
  align-items: center;
  gap: 4px;
}

.type__badge {
  padding: 4px 8px;
  background: var(--color);
  color: #fff;
  border-radius: 3px;
  text-transform: capitalize;
  user-select: none;
  transition: 200ms cubic-bezier(.6,.11,.65,1.2);

  &:hover {
    filter: brightness(1.1);
  }
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.stats {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.stat {
  position: relative;
  display: flex;
  width: fit-content;

  &:hover {
    .stat__color, .stat__name {
      filter: brightness(1.1);
      font-weight: bold;
    }

    .stat__tooltip {
      transform: translateX(calc(100% + 6px));
      opacity: 1;
    }
  }
}

.stat__name, .stat__bar {
  display: flex;
  align-items: center;
  min-width: 70px;
  height: 22px;
  transition: 200ms cubic-bezier(.6,.11,.65,1.2);
}

.stat__bar {
  position: relative;
  background: #FBFDFF;
  border-radius: 5px;
  width: 200px;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: inset 0px 0px 8px 1px #04154930;
    pointer-events: none;
  }
}

.stat__name {
  text-transform: capitalize;
}

.shape {
  position: absolute;

  &.right {
    bottom: 21px;
    left: -88px;
  }

  &.left {
    top: 29px;
    right: -15px;
  }
}

.stat__color {
  height: 100%;
  width: var(--width);
  border-radius: 2px;
  transition: 200ms cubic-bezier(.6,.11,.65,1.2);

  background: var(--bg);
}

.stat__tooltip {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 6px;
  background: #484B4D;
  font: 700 16px Nunito;
  color: white;
  border-radius: 5px;
  opacity: 0;
  will-change: opacity, transform;
  transition: 500ms ease;
  pointer-events: none;
}

.close-button {
  width: 50px;
  height: 40px;
  background: var(--bg);
  border-radius: 4px;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: 300ms cubic-bezier(.6,.11,.65,1.2);

  box-shadow: 0px 0px 0px 0px #041549, inset 0px 0px 5px 1px rgb(0 0 0 / 60%);
  flex-shrink: 0;
}

.close-button__icon {
  width: 20px;
  height: 20px;
  filter: invert(100%) sepia(65%) saturate(572%) hue-rotate(196deg) brightness(104%) contrast(104%);//white
}
