<div class="presentation-wrapper" [class.is-visible]="visible">
  <div class="presentation">
    <poke-square-shape class="shape right"></poke-square-shape>
    <poke-square-shape class="shape left"></poke-square-shape>

    <div class="presentation__first">
      <div class="title section">
        {{ pokemon.name }}

        <div class="code-and-type">
          <div class="code">
            COD: #{{ pokemon.id }}
          </div>

          <div class="type">
            Tipo:
            <div class="type__badge">
              {{ pokemon.types[0].type.name }}
            </div>
          </div>
        </div>
      </div>


      <div class="description section">
        <b>Descrição:</b>
        "Charmeleon destrói seus oponentes sem pena com suas garras afiadas. Torna-se agressivo quando encontra um oponente forte e então a chama na ponta da sua cauda queima intensamente em uma cor azulada."
      </div>

      <div class="infos-wrapper section">
        <b>Informações</b>
        <div class="infos">
          <div class="info height">
            Altura: <span>110cm</span>
          </div>

          <div class="info weight">
            Peso: <span>19kg</span>
          </div>
        </div>
      </div>

      <div class="stats-wrapper section">
        <b>Atributos</b>

        <div class="stats">
          <div class="stats__names">
            <div class="stats__name">HP</div>
            <div class="stats__name">Defesa</div>
            <div class="stats__name">Velocidade</div>
            <div class="stats__name">Ataque</div>
          </div>

          <div class="stats__bars">
            <div class="stats__bar">
              <div class="stats__color hp"></div>
            </div>

            <div class="stats__bar">
              <div class="stats__color defense"></div>
            </div>

            <div class="stats__bar">
              <div class="stats__color speed"></div>
            </div>

            <div class="stats__bar">
              <div class="stats__color attack"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="presentation__second">
      <div class="circle"></div>
      <img draggable="false" class="image" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png">
    </div>

    <button class="close-button" (click)="closePresentation()">
      <div class="close-button__icon close-icon white-filter"></div>
    </button>
  </div>
</div>
