b {
  font-size: 22px;
}

.presentation-wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  left: 0;
  z-index: 8;
  backdrop-filter: blur(10px);

  opacity: 0;
  pointer-events: none;
  transition: 500ms ease 850ms;

  &.is-visible {
    pointer-events: auto;
    opacity: 1;
    transition: 1s ease;

    & .presentation {
      opacity: 1;
      transition: 1s ease 400ms;
    }

    & .close-button {
      box-shadow: 0px 5px 0px 0px var(--button-depth), inset 0px 0px 11px 0px rgb(0 0 0 / 60%);
      transform: translateY(-5px);
    }
  }
}

.presentation {
  background: var(--presentation-bg);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 25px -6px rgb(8 7 16 / 65%);
  border-radius: 10px;

  height: min(459px, 95vh);
  width: min(800px, 95vw);

  font-family: Nunito;
  color: var(--text-color);

  padding: 24px 30px;
  position: relative;
  overflow: auto;
  display: flex;
  gap: 30px;
  flex-direction: column;
  opacity: 0;
  transition: 400ms ease 650ms;
}

.presentation-shapes {
  width: 100%;
  height: 100%;
  top: -2px;
  left: -2px;
  position: absolute;
  pointer-events: none;
  border-radius: 10px;
  overflow: hidden;
}

.presentation__first {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-shrink: 0;
  max-width: 334px;
}

.presentation__second {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  align-self: center;
  gap: 30px;


  &__pokemon {
    min-width: 334px;
    flex-direction: column;
    display: flex;
    gap: 30px;
  }

  &__image {
    width: 100%;
    min-height: 323px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    align-items: center;
  }
}

.circle {
  content: "";
  width: 315px;
  height: 315px;
  border: 4px dashed var(--border);
  background: var(--bg);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  transition: 1500ms linear;
  backdrop-filter: blur(1px);
  z-index: 1;

  &:hover  {
    animation: circle 4s linear infinite;
    background: var(--bg-active);
  }

  &.is-disabled {
    filter: grayscale(100%);
    pointer-events: none;
    border: 4px dotted var(--border-active);
  }
}

.no-image {
  filter: grayscale(100%);
}

@keyframes circle {
  0% { transform: translate3d(-50%, -50%, 0) rotate(0deg) }
  100% { transform: translate3d(-50%, -50%, 0) rotate(360deg) }
}

.image {
  z-index: 2;
  pointer-events: none;
  height: 230px;
  width: 230px;
}

.title {
  font: 700 35px Nunito;
  text-transform: capitalize;
  line-height: 27px;
  justify-content: space-between;
  display: flex;
  flex-direction: row !important;
  word-break: break-word;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.types-wrapper {
  flex-direction: row;
  justify-content: space-between;
}

.type {
  display: flex;
  align-items: center;
  gap: 5px;
}

.type__badge {
  padding: 4px 8px;
  background: var(--color);
  color: #fff;
  border-radius: 3px;
  text-transform: capitalize;
  transition: 200ms cubic-bezier(.6,.11,.65,1.2);
  font-weight: 700;
  text-transform: capitalize;

  &:hover {
    filter: brightness(1.1);
  }
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.stats {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.stat {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;

  &:hover {
    .stat__color, .stat__name {
      filter: brightness(1.1);
      font-weight: bold;
    }

    .stat__tooltip {
      transform: translateX(-7px);
      opacity: 1;
    }
  }
}

.stat__name, .stat__bar {
  display: flex;
  align-items: center;
  min-width: 70px;
  height: 22px;
  transition: 200ms cubic-bezier(.6,.11,.65,1.2);
}

.stat__bar {
  position: relative;
  background: var(--stat-bar);
  border-radius: 5px;
  width: 200px;
  justify-content: flex-end;
  overflow: hidden;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: inset 0px 0px 8px 1px #04154930;
    pointer-events: none;
  }
}

.stat__name {
  text-transform: capitalize;
}

.shape {
  position: absolute;

  &.right {
    bottom: 21px;
    left: -88px;
  }

  &.left {
    top: 12px;
    right: -65px;
  }
}

.stat__color {
  height: 100%;
  width: var(--width);
  border-radius: 2px;
  transition: 200ms cubic-bezier(.6,.11,.65,1.2);

  background: var(--bg);
}

.stat__tooltip {
  position: absolute;
  top: 0;
  right: 200px;
  height: 100%;
  padding: 0 6px;
  background: var(--tooltip-bg);
  font: 700 16px Nunito;
  color: var(--tooltip-text);
  border-radius: 5px;
  opacity: 0;
  will-change: opacity, transform;
  transition: 500ms ease;
  pointer-events: none;
  transform: translateX(100%);
  display: flex;
  align-items: center;
}

.close-button {
  width: 50px;
  height: 40px;
  background: var(--bg);
  border-radius: 4px;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: 350ms cubic-bezier(.6,.11,.65,1.2);

  box-shadow: 0px 0px 0px 0px #041549, inset 0px 0px 5px 1px rgb(0 0 0 / 60%);
  flex-shrink: 0;
  filter: grayscale(20%) brightness(1.1);
  position: absolute;
  right: 30px;
}

.close-button__icon {
  width: 20px;
  height: 20px;
  filter: invert(100%) sepia(65%) saturate(572%) hue-rotate(196deg) brightness(104%) contrast(104%);//white
}

/* RESPONSIVE */
@media (max-width: 810px) {
  .presentation {
    height: 95vh;
    padding: 70px 30px 0px 30px;

    &__first {
      max-width: 100%;
    }

    &__second {
      flex-direction: column-reverse;
      justify-content: flex-end;
      min-width: 100%;

      &::before {
        content: "";
        min-height: 1px;
        width: 100%;
      }

      &__pokemon {
        width: 100%;
      }

      &__image {
        pointer-events: none;
      }
    }

    .close-button {
      top: 16px;
      width: 70px;
      height: 40px;
      border-radius: 20px;
      right: calc(50% - 36px);

      &__icon {
        width: 15px;
        height: 15px;
      }
    }
  }
}

@media (max-width: 400px) {
  b {
    font-size: 18px;
  }

  .title {
    font-size: 28px;
  }

  .presentation__second {
    font-size: 14px;

    &__pokemon {
      min-width: inherit;
    }

    &__image {
      min-height: 202px;
    }
  }

  .image {
    width: 120px;
    height: 120px;
  }

  .circle {
    width: 200px;
    height: 200px;
  }

  .stat__bar {
    width: 130px;
  }

  .stat__tooltip {
    right: 130px;
    font-size: 14px;
  }
}

@media (max-width: 300px) {
  .stat__bar {
    width: 80px;
  }

  .stat__tooltip {
    right: 80px;
  }
}
